html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
}

.content-paragraph {
    fontSize: "17px",
    lineHeight: "1.5",
    fontFamily: "'Poppins', sans-serif",
    letterSpacing: ".3px",
}